# These came default with the project
.Rproj.user
.Rhistory
.RData
.Ruserdata
# These were added later to keep temporary files out
*.rda
*.RData
bin/
.ipynb_checkpoints/
*~*
.DS_Store
DA Project mapping.R
app_original file.R
server.R
Reg.R
nyc_vis/rsconnect
.httr-oauth
nyc_vis/token.rds